/* Write your CSS here */
.speedometer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  height: 100vh;
  background-color: #07080c;
}
@media screen and (min-height: 768px) {
  .speedometer-container {
    text-align: center;
  }
}
.heading {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (min-height: 768px) {
  .heading {
    font-size: 45px;
  }
}
.paragraph {
  font-family: 'Roboto';
  font-size: 25px;
  color: #cbd5e1;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.accelerate-button {
  background-color: #0b69ff;
  border-radius: 5px;
  border: 0px solid;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  outline: none;
  height: 28px;
  width: 70px;
  margin-right: 5px;
}
.brake-button {
  background-color: #07080c;
  color: #ffffff;
  border: 2px solid;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  outline: none;
  height: 28px;
  width: 70px;
}
.img-size {
  height: 240px;
  width: 500px;
}
